.singUpBody{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width:500px;

}
.btnSingUpRemember{
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
  }
}
button {
  position: relative;
  top: 25%;
  width: 150px;
 // transform: translateY(-50%);
  transform: translateX(30%);
}
